{% extends 'basic.html' %}
{% block detail_style %}
    .ui.text.container {
    max-width: 830px!important;
    line-height: 5.5;
}
{% endblock %}
    {% block active %}
        <a href="index" class="item">主页</a>
        <a href="django" class="item">Django</a>
        <a href="ml" class="item">机器学习(笔记)</a>
        <a href="python" class="item">Python</a>
    {% endblock %}
    {% block content %}
        <div class="ui text container segment">
            {% autoescape off %}
        <h1 class="ui content">{{ contents.content}}</h1>
            {% endautoescape %}
        </div>
    {% endblock %}
