{% extends 'basic.html' %}
    {% block active %}
        <a href="index" class="item">主页</a>
        <a href="django" class="active item">Django</a>
        <a href="ml" class="item">机器学习(笔记)</a>
        <a href="python" class="item">Python</a>
    {% endblock %}

    {% block content %}
            {% for row in contents %}
        <div class="ui text container segment">
            {% autoescape off %}
                <a target="_blank" href="content_detail-{{ row.id}}">
                 <h1 class="ui header">{{ row.title }}</h1>
                </a>
                    <div class="ui statistic value">
                      阅读次数 ({{ row.views }})
                    </div>
            {% endautoescape %}
        </div>
            {% endfor %}
    {% endblock %}