{% extends 'basic.html' %}
{% block active %}
    <a href="index" class="active item">主页</a>
    <a href="django" class="item">Django</a>
    <a href="ml" class="item">机器学习(笔记)</a>
    <a href="python" class="item">Python</a>
{% endblock %}
        {% block content %}
        <div class="ui grid">
            <div class="thirteen wide column">
                {% for post in post_list %}
                <div class="ui center aligned container segment">
                <a  target="_blank" href="/content_detail-{{ post.id }}" class="ui medium image">
                  <img src="{{ post.title_image.image }}">
                    {{ post.title }}
                </a>
                <div class="value">阅读次数 ({{ post.views }})</div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
