{% extends 'basic.html' %}
    {% block active %}
        <a href="index" class="item">主页</a>
        <a href="django" class="item">Django</a>
        <a href="ml" class="item">机器学习(笔记)</a>
        <a href="python" class="active item">Python</a>
    {% endblock %}
    {% block content %}
            {% for row in contents %}
        <div class="ui text container segment">
            {% autoescape off %}
        <h1 class="ui header">{{ row.title }}</h1>
        <p class="ui content">{{ row.content}}</p>
            {% endautoescape %}
        </div>
            {% endfor %}
    {% endblock %}